@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ThankYou";
}
<div class="container">
    <div class="row">
        <h2>Thank you for the order.</h2>
        <div class="col-lg-10">
            <p>Your book will be available to you soon.</p>
        </div>
        <div class="col-lg-10">
            <p>
                <a href="/" class="btn btn-lg btn-primary">Continue Shopping</a>
            </p>
        </div>
    </div>
</div>

